        /* Couleur de la charte graphique */
    :root {
        --blanc: #f2f2f2;
        --parchemin: #f2efbd;
        --ecriture: #8C3842;
        --utilisateur: #86388C;
        --hover: #5F558C;
        --article: #38718C;
        --noir: #292929;
        --succes: #286D22;
        --erreur: #DB0000;
    }


        /* FORMULAIRE */
/* fond des formulaire */
.form_bg {
    min-height: 500px;
}
.form_post_texte {
    width: 75%;
}

        /* FIN DU FORMULAIRE */


        /* HEADER */
/* nav_bar et menu burger */
.header_flex {
    width: 65%;
}
.logo_header {
    width: 100px;
    height: 100px;
}
.navbar .nav-links {
    position: absolute;
    right: 0;
    top: 100px;
    background-color: var(--ecriture);
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: -1;
    display: none;
}
.navbar .nav-links li {
    margin: 20px 0;
}
.navbar .burger {
    display: flex;
}
.navbar .nav-links.active {
    transform: translateX(0%);
    background-color: var(--ecriture);
    z-index: 3;
    display: flex;
}
.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
    opacity: 0;
}
.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

        /* FIN DU HEADER */

        /*  FOOTER */
footer {
    flex-direction: column;
}
.footer_sociaux p {
    align-self: center;
    margin-bottom: 5px;
}
.footer_logo {
    width: 75px;
    height: 75px;
}
.footer_icone {
    width: 25px;
    height: 25px;
    margin: 0px 20px;
}
        /* FIN DU FOOTER */


        /* ACCUEIL */
.accueil_presentation_2 {
    flex-direction: column;
}

        /* FIN ACCUEIL */


        /* CONNEXION */
.connexion_titre {
    font-size: 1.5em;
}
.connexion_champs {
    margin: 20px 10px;
}

        /* FIN DE CONNEXION */

        /* PROFIL */
.profil_image {
    width: 150px;
    height: 150px;
}