    /* Couleur de la charte graphique */
:root {
    --blanc: #f2f2f2;
    --parchemin: #f2efbd;
    --ecriture: #8C3842;
    --utilisateur: #86388C;
    --hover: #5F558C;
    --article: #38718C;
    --noir: #292929;
    --succes: #286D22;
    --erreur: #DB0000;
}


        /* FORMULAIRE */
/* fond des formulaire */
.form_bg {
    min-height: 700px;
}
.form_post_texte {
    width: 40%;
}

        /* FIN DU FORMULAIRE */


        /* 404 */

.image_404 {
    width: 60%;
}

        /* FIN DU 404 */


        /* HEADER */
/* nav_bar et menu burger */
.header_flex {
    width: 30%;
}
.logo_header {
    width: 150px;
    height: 150px;
}
.navbar .header_titre {
    font-size: 24px;
}
.navbar .nav-links {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: none;
    transform: none;
    transition: none;
    z-index: 0;
    position: inherit;
}
.navbar .nav-links li {
    margin-left: 20px;
}
.navbar .burger {
    display: none;
}

        /* FIN DU HEADER */


        /*  FOOTER */

footer {
    flex-direction: row;
}
.footer_logo {
    width: 200px;
    height: 200px;
}
.footer_icone {
    width: 75px;
    height: 75px;
}

        /* FIN DU FOOTER */

        /* ACCUEIL */
.accueil_presentation_2 {
    flex-direction: row;
}
.accueil_liste_jeu {
    flex-direction: row;
}
.accueil_liste_jeu img {
    flex-basis: calc(30% - 20px);
}
.accueil_container_miniatures {
    flex-direction: row;
}
.accueil_miniature_article_gd {
    width: 65%;
    margin-right: 20px;
}
.accueil_miniature_overlay {
    font-size: 1.25em;
}
.accueil_pc_article_droite {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.accueil_container_miniature_secondaire {
    flex-direction: column;
    margin-bottom: auto;
    height: 250px;
}
.accueil_miniature_secondaire_article {
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0px 0px;
}
.accueil_titre_miniature_secondaire {
    height: 75px;
    border-radius: 0px 0px 25px 25px;
}
.accueil_tableau {
    font-size: 1em;
}
.accueil_image_social {
    width: 40%;
}
.accueil_texte_social {
    width: 55%;
}

        /* FIN ACCUEIL */


        /* CONNEXION */
.connexion_titre {
    font-size: 2.5em;
}
.connexion_champs {
    margin: 10px 20px;
}
        /* FIN DE CONNEXION */


        /* PROFIL */

.profil_image {
    width: 250px;
    height: 250px;
    margin-left: auto;
}
.profil_presentation_texte {
    font-size: 1.25em;
}
.profil_description {
    font-size: 1.25em;
}


        /* DISPONIBILITE */
.dispo_marge_bas {
    margin-bottom: 75px;
}


        /* CONVERSATION */

.conversation_bordure_gch, .conversation_bordure_dt {
    max-width: 40%;
}

.img_tab_admin_article {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


        /* LISTE ARTICLE */

.liste_vignette_article {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vignette_article {
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
}


        /* ARTICLE */
    
.article_main_image {
    width: 55%;
    height: 500px;
    margin: 15px 0px;
}
.article_categorie {
    flex-direction: row;
}
.article_avis_auteur {
    align-self: flex-start;
}